# ========================
# PYTHON
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ========================
# VIRTUAL ENV
# ========================
venv/
env/

# ========================
# DATABASE
# ========================
db.sqlite3

# ========================
# DJANGO
# ========================
*.log
staticfiles/

# ========================
# DATA / OUTPUTS (IMPORTANT PFE)
# ========================
outputs/
bibliometrix_results/
*.csv
*.json
*.pdf

# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# ========================
# IDE
# ========================
.vscode/
.idea/